# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\07-Graduation\01-Projects\Crystal_Plate_Detect\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
